.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  gap: 24px;
}

.participants {
  grid-row: span 2;
}

.withdraw-wrapper {
  background: #02b92133;
  background: linear-gradient(
    161deg,
    rgb(0 176 59 / 25%) 0%,
    rgb(0 154 63 / 13%) 100%
  );
}

@media (min-width: 860px) {
  .grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    place-items: stretch;
  }
}
