.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  width: 100%;
}

.grid {
  width: 100%;
  min-height: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: stretch;
  gap: 24px;
}

.participants {
  grid-row: span 2;
}

.withdraw-wrapper {
  background: #02b92133;
  background: linear-gradient(
    161deg,
    rgb(0 176 59 / 25%) 0%,
    rgb(0 154 63 / 13%) 100%
  );
}
