:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #8fb8ff;
  text-decoration: inherit;
}
a:hover {
  color: #8886ff;
}

body {
  margin: 0;
  min-width: 320px;
}

body.dark {
  color: #fff;
  background: #2d064f;
  background-image: linear-gradient(
    to bottom right in oklab,
    oklch(0.208 0.042 265.755) 0%,
    oklch(0.381 0.176 304.987) 50%,
    oklch(0.208 0.042 265.755) 100%
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.success-gradient {
  background: #00ee4675;
  background: linear-gradient(
    124deg,
    rgb(0 229 28 / 31%) 0%,
    rgb(0 173 59 / 23%) 50%,
    rgb(0 189 82 / 14%) 100%
  );
}
