.container {
  position: relative;
}

.suffix {
  position: absolute;
  right: 9px;
  bottom: 20px;
  color: currentColor;
  font-size: 0.96rem;
  pointer-events: none;
  transform: translateY(50%);
  opacity: 0.6;
}

.label {
  font-size: 13px;
  padding-bottom: 8px;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Modern browsers */
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0;
}
