.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
