.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 max-content;
  padding: 2rem 1rem 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2d33;
  color: #fff;
}

.footer-content {
  max-width: 1600px;
  flex: 1 0 max-content;
  padding: 1rem;
}
