.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 max-content;
  padding: 2rem 1rem 2rem;
}

.footer {
  padding: 1rem;
  background-color: #2c2d33;
  color: #fff;
}
